.container {
    user-select: none;
    position: relative;
    width: 500px;
    height: 500px;
    background-color: white;

    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.06);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.06);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.06);
}

#editor {
    height: 100%;
    width: 100%;
}

#terminal {
    height: 100%;
    width: 100%;
}

.top-bar {
    height: 30px;
    width: 100%;
    background-color: blue;
}

.movable-div {
    position: absolute;
}

#lvl-Selector {
    padding: 0px;
}

#wrapper {
    user-select: none;
    position: relative;
    width: 500px;
    height: 500px;
    background-color: white;
    padding: 16px;
    pointer-events: fill;

    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.06);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.06);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.06);
}